<div  ng-controller="myCtrl_1">
Binary : <input type="text" ng-model="input_number_1" placeholder="Type Binary number"><br>
Decimal: {{result_dec()}}<br>
Octal: {{result_Bin_oct()}}<br>
Hexa: {{result_Bin_Hexa()}}<br>
</div>
<div  ng-controller="myCtrl_2">
Octal : <input type="text" ng-model="input_number_2" placeholder="Type Octal number"><br>
Binary: {{result_Oct_Bin()}}<br>
Decimal: {{result_Oct_Dec()}}<br>
Hexa: {{result_Oct_Hexa()}}<br>
</div>
<div  ng-controller="myCtrl_3">
Hexa : <input type="text" ng-model="input_number_3" placeholder="Type Hexadecimal number"><br>
Binary: {{result_Hexa_Bin()}}<br>
Decimal: {{result_Hexa_Dec()}}<br>
Octal: {{result_Hexa_Oct()}}<br>
</div>
<div  ng-controller="myCtrl_4">
AND <input type="text" ng-model="and_"><br>
<input type="text" ng-model="and_1"><br>
AND is : {{result_AND()}}
</div>